:root {
    --primary-color: #e10600;
    --secondary-color: #ffffff;
    --text-light: #ffffff;
    --text-dark: #ffffff;
    --accent-color: #000000;
    --grid-bg: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #00000049;
}

.hero {
    background-color: rgba(255, 255, 255, 0.2);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
}

.standings-container {
    max-width: 1200px;
    margin: -50px auto 0;
    padding: 0 20px;
}

.standings-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.standings-nav button {
    background: var(--accent-color);
    color: var(--text-light);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.standings-nav button.active {
    background: rgba(255, 255, 255, 0.2);
}

.standings-grid {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 3px 9px 11px 0px rgba(255, 255, 255, 0.686) inset,
        -11px -7px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.standings-header {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    display: grid;
    grid-template-columns: 70px 50px 2fr 1fr 1fr;
    gap: 10px;
    font-weight: 500;
}

.standings-row {
    padding: 15px;
    display: grid;
    grid-template-columns: 70px 50px 2fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    color: #000000;
}

.standings-row:hover {
    background: rgba(94, 91, 91, 0.822);
}

.position {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.driver-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.driver-info img {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-radius: 3px;
}

.points {
    font-weight: bold;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .standings-header,
    .standings-row {
        grid-template-columns: 50px 2fr 1fr;
    }

    .standings-header> :nth-child(2),
    .standings-row> :nth-child(2),
    .standings-header> :nth-child(5),
    .standings-row> :nth-child(5) {
        display: none;
    }
}